body{
    background-color: #827fcb;
}
    h1{
    font-size: 24px;
    color: #3a0303;
}
h2{
    font-size: 24px;
    color: #413db9;
}
/*styles for buttons*/
.button-class {
    background-color: #e37310; /* Green */
    border: none;
    color: rgb(188, 170, 170);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(90, 31, 122);
    color: rgb(213, 213, 204);
    border: 2px solid #1e2cf3;
  }

 
.pokemon-image {
    width: 150px;
    height: auto;
}